<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center text-uppercase">Universidad Católica de Cuenca sede Azogues</h1>
    <p class="lead text-justify">
      El presente trabajo de titulación se encarga de evaluar el rendimiento de una aplicación web desarrollada para soportar una arquitectura
      de servidor clásica así como una arquitectura en la nube, a continuación se presenta un gráfico de los resultados obtenidos en cuanto a rendimiento
      de la aplicación.
      <br><br>
      Gracias.
      <br><br>
      - <a href="https://github.com/cristiangp93" target="_blank">Cristian Guillén P</a>
    </p>
  </div>
</div>
